*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    overflow-y:hidden;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
}

.flex-space-around{
    justify-content: space-around;
}

.container{
    background: linear-gradient(30deg, #000000,#43434343);
    padding: 10px 50px ;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    margin: 0px auto;
}

.contact-book-header{
    background-color: #d6ae7b;
    padding: 30px;   
    height: 2rem;
    width: 85%;   
    border-radius: 30px 30px 0px 0px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    justify-content: space-around;
    align-items: center; 
    margin: 0px auto;
    
}

#contact-book-body{
    background: rgba(15, 15, 15, 0.4);
    padding: 10px;   
    margin: 0px auto;
    width: 85%;
    height: 100%;
    overflow-y: scroll;    
    border-radius: 0px 0px 20px 20px;
    overflow-x: hidden;   
  
}

#addcontacts{
    width: 30px;
    height: 30px;
    padding: 30px;
    background: #d6ae7b;
    position: fixed;
    align-self: flex-end;
    margin: 42% 0% 0% 0%;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 25px;
}

#modal{
    background: rgba(165, 161, 161, 0.609);
    position: fixed;
    padding: 3px;
    width: 100%;
    height: 100%;   
    justify-content: center;
    align-items: center;
    display: none;
}

.modal_content{
    background: linear-gradient(30deg,#d6ae7b,#eacda3);
    width: 50%;
    height: 60%;
    border-radius: 30px;
    flex-direction: column;
}

#close-btn{
    margin: 0px 0px 0px 0px;
    background-color: #000000;
    width: 40px;
    height: 25px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    display: block;
    align-self: flex-end;
    margin: 20px 20px 0px 0px;
}

#close-btn:hover{
    background-color: #414040;
}

#form{
    align-self: center;
    margin: auto;
}

#form > .row > label{
    font-weight: 600;
}

#form > .row > label > input {
    background: #000000;
    color: #fff;
    height: 20px;
    border-radius: 15px;
    padding: 8px;
}

.row{
    margin: 15px;
}

.btn-section{
    margin-top: 50px;
    justify-content: space-around;
}

.btn-section > button{
    width: 35%;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border-radius: 10px;
}

.btn-section > button:hover{
    background-color: #2e2e2e;
}

.user-icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    
}

.start{
    margin: 0px 0px 0px 20px;
}

.end{
    margin: 0px 80px 0px 0px;
}

.contact-info{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    margin: 15px auto;
    height: 50px;
    width: 80%;
}

.contact-info > .contact_name >.fname{
    margin-left: 10px;
    align-self: center;   
}

.name_details{
    align-items: center;
}

.data{
    margin-right: 20px;
    align-self: center;
}

.contact-name{
    justify-content:space-between;
}

.nameId{
    margin: 4px 15px 4px 10px;
    border-radius: 50%;
    padding: 5px 8px;
    align-self: center;
    width: 30px;
    height: 30px;
}

::-webkit-scrollbar{
    background: linear-gradient(120deg,rgba(128, 128, 128, 0.863),#d6af7bef);
    width: 12px;
    height: 50px;
}

::-webkit-scrollbar-thumb{
    background: rgb(53, 52, 52);
    height: 80px;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover{
    background: rgb(95, 94, 94);
}
